.centerit
{   
    
        width: 50%;
        margin: 0 auto;
        text-align: center;
        
      
}

.centeri
{
 color: white;
 background-color: black;
}

.centeri h2
{
    text-align: center;
    padding-top: 50px;
    
}
#c
{
    width:5em;
    height: 25px;
    border: 1px solid black;
    padding-left: 79px ;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-right: 85px;
    color: red;
    background-color:white;
    margin: 0 auto;
    width: 50%;

}




