
/* form css */
h1{
  font-size: 90px;
}



.contact span{
  border-radius: 0 !important;
}


.fa-user,.fa-phone{
  font-size:50px;
  margin: 7px;
  color: red;
}
.fa-envelope-square{
  font-size:50px;
  margin: 4px;
}


#area{
  /*margin-top: 80px;*/
}

.round{
  border-radius: 10px;
}
form{
  margin:auto;
}
.card-panel{
  margin-bottom: 50px;
  box-shadow: 1px 2px 2px #888888;
}


