

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-bottom: 50px;
    

}

#slideshow > div {
    position: absolute;

    bottom: 3px;
}

#slideshow img {
    width: 100%;
    height: 100%;
}

.test {
    position: absolute;
    padding: 70px;
    width: 500px;
    margin: auto;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 97px;
}

.tes
{

 position: absolute;
 padding: 70px;
 width: 500px;
 margin: auto;
 height: 100px;
 top: 0;
 right: 0;
 left: 0;
 color: white;
 margin-top: 310px;
 text-align: center;
 font-size: 97px;
}
.test h3,h5
{
    font-size: 40px;
}

.test h5
{
    background: rgba(54, 25, 25, .8);
}

.test h3
{
    color: black;
    background: rgba(255, 255, 255, 0.5);
}

@media all and (min-width: 1100px) {

    #slideshow,.test,.down-arrow {display: block;}
    .slider,.chl {display: none;} 
}

@media all and (max-width: 1028px) {

    #slideshow,.test,.down-arrow,.tes {display: none;}
    .slider {display: block;} 

}

@media all and (max-width: 479px) {

    #slideshow,.test,.down-arrow,.tes {display: none;}
    .slider {display: block;} 
}

#slideshow
{
    margin-top: 5px;
}