
.mtext
{
    width: 50%;
    margin: 0 auto;
    font-size: 25px;
   padding: 75px;
}

.test button
{
    background-color: green;
    color: beige;
    font-size: 25px;
    width: 190px;
    height: 70px;
    border: none;
    cursor: pointer;  
    margin-top: 10px;  
}

#arrowImg
{
    margin-top: 20px;
}


#slideshow { 
    margin: 50px auto; 
   position: relative;
    width: 100%; 
    height: 550px; 
     
    
}

#slideshow > div { 
    position: absolute; 
    
    bottom: 3px; 
}

#slideshow img
{
    width: 100%;
    height: 100%;
}

.test
{
    position: absolute;
    width: 500px;
    margin: auto;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 27px;
}