#loader
{
    width: 80px;
    height: 80px;
    border: 5px solid beige;
    border-top-color: red;
    border-radius: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation: ani 2s linear infinite;
    z-index: 1;
}

.test,#slideshow
{
    z-index: -1;
}

@keyframes ani
{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}

}

.blur > *:not(#loader)
{

    filter: blur(3px);
}

@keyframes anin {
    0% {

        transform: translatey(5px);
    }
    50% {

        transform: translatey(-20px);
    }
    100% {

        transform: translatey(5px);
    }
}

.arrow img
{
    margin-bottom: 50px;
}
.arrow {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: anin 6s ease-in-out infinite;
    }