body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
}

section {
  flex: 1 0 auto;
}

#form-block {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    border: 1px solid #eee;
    margin-top: 3em;
}

#box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.choice {
    margin: 0.5em;
    font-size: 1.5em;
}

@media only screen and (max-width: 425px) {
  #box {
      width: 90%
  }
}