
.down-arrow {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.down-arrow::after {
    position: absolute;
    width: 34px;
    margin: auto;
    height: 34px;
    top: 0;
    right: 0;
    left: 0;

    margin-top: 510px;
    content: "";
    border-right: 4px solid green;
    border-bottom: 4px solid green;
    transform: rotate(45deg);
    animation: 3s arrow infinite ease;
}

@keyframes arrow {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 50px;
    }
}

/*Social Icons*/
.social li {
    display: inline;

}

#fit2 {
    display: inline;
}

#fit1 {
    display: inline;

}

.copy {
    text-align: center;
}

/*Navbar*/
.black ul {
    position: absolute;
    margin-left: 920px;
}

.brand-logo {
    margin-left: 50px;
}