@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family-Lobster+two|Raleway');

body{
    font-family: 'Raleway',san-serif;
    background-image: url(../img/signup_bg.jpg);
    }


input{
    font-family: 'Raleway',san-serif;
    font-weight: bold;
    font-size: 20px !important;
    
    /*text-align: center;*/
}
.material-icons{
    
    position: relative;
    /*top: 10px;*/
}
button{
    font-family: 'Raleway',san-serif;
    /*margin-left: 390px;*/
    }

.row{
    /*padding-left: 20px;*/
    margin: 20px;

}
.input-field{
    text-align: center;
}

.edit{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 90%;
}



