/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



canvas {
  display: block;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: black;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#if
{
  width: 487px;
  height: 275px;
}

#play
{
  width: 100px;
}

#slideshow
{
  margin-bottom: -8px;
}

.test h5
{
 font-size: 35px;
}

#int
{
  margin-bottom: 18px;
}

#whytab
{
  width: 100%;
}

#tab1,#tab2,#tab3
{
  width: 33%;
  float: left;
}

